@import url(https://fonts.google.com/specimen/Alegreya);

body {
    color: royalblue;
}

nav {
    background-color: royalblue;
}

footer {
    background-color: royalblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 24px;
}

header {
    background-color: palegoldenrod;
    padding-bottom: 5px;
    font-family: Alegreya, 'Times New Roman', Times;
}

h1.app-title {
    color: royalblue;
    text-align: left;
    font-family: Alegreya, 'Times New Roman', Times;
}

div.main-table-container {
    max-height: 545px;
    overflow-y: scroll;
    color: royalblue;
    border-color:#e6eeff; border-style:solid;
}

table.main-table-top th {
    background-color: #fefecd;
    font-size: 17px;
    padding: 5.5px;
    font-family: Alegreya, 'Times New Roman', Times;
    border-top-color:#e6eeff; border-style:solid;
    border-right-color:#e6eeff; border-style:solid;
    border-left-color:#e6eeff; border-style:solid;
    border-bottom-color:transparent; border-style:solid;
}

table.main-table td{
    text-align: left;
    font-size: 16px;
    padding: 5px; 
    font-family: Alegreya, 'Times New Roman', Times;
    border-top-color:#e6eeff; border-style:solid;
    border-right-color:#e6eeff; border-style:solid;
    border-bottom-color:#e6eeff; border-style:solid;
    border-left-color:transparent; border-style:solid;
}

table.main-table p span {
    font-style: italic;
    font-weight: bold;
}
